footer(class='footer')
    img(class='footer-company-logo', src='../img/woo4men.png')
    div(class='legal')
        p(class='site')© 2014 - Woo4men.com - Tous droits réservés.
        p(class='developper')
            a(href='#') Tanguy SCHOLTES
            | , Webdesigner - 2014
