//search form
form(class='search-form')
    input(class='search-field', type='text', placeholder='Rechercher')
    button(class='search-button', type='submit')
        img(src='../img/search.png', width='27px', height='27px')