//shopping cart
div(class='menu-cart')
    span(class='client-name') Bienvenue, Albert Durant
    a(class='client-cart', href='shopping-cart.html') 0 article(s)
    img(class='client-cart-icon', src='../img/cart.png')